.header-main-section {
  margin: 2rem 5rem;
  font-size: 18px;
  font-weight: 600;
  .logo {
    font-size: 26px;
    letter-spacing: -3px;
  }
  span {
    margin: 0 0.8rem;
    transition: color 0.3s ease-in-out;
    transition-delay: 1.5ms;
    &:hover {
      color: #147efb;
    }
  }
}
